<script lang="ts">
  export let endpoint: string;

  import Start from "./Start.svelte";
  import Session from "./Session.svelte";
  import { savePrompt } from '../tools/Export'
  import { io } from "socket.io-client";
  import type { Socket } from "socket.io-client";
  import type ClientToServerEvents from "../events/ClientToServerEvents";
  import type ServerToClientEvents from "../events/ServerToClientEvents";

  import type User from "../types/User";
  import type { Invitation } from "../types/User";

  const ENDPOINT = endpoint;

  const socket: Socket<ServerToClientEvents, ClientToServerEvents> =
    io(ENDPOINT);

  let connectedToServer: boolean = false;
  let displayName: string = "";
  let inSession: boolean = false;
  let isHost: boolean = false;
  let activeSessionID: string = "";

  let invitations: Invitation[] = [];

  /* Listeners */

  socket.on("connect", () => {
    console.log("Connected to server socket");
    connectedToServer = true;
    console.log("Your socket ID:", socket.id);
  });

  socket.on("disconnect", () => {
    console.log("Disconnected from server socket");
    connectedToServer = false;
  });

  //

  socket.on("requestFailed", (msg: string) => {
    console.log("requestFailed:", msg);
  });

  // Host-specific

  socket.on("sessionStarted", (sessionID: string) => {
    console.log("Your session ID:", sessionID);
    inSession = true;
    isHost = true;
    activeSessionID = sessionID;
    invitations = [];
  });

  // User-specific

  socket.on("sessionInvitation", (sessionID: string, host: User) => {
    console.log("Received invitation from", sessionID);
    invitations = invitations.concat({ sessionID, host });
  });

  socket.on("awaitingHostResponse", (sessionID: string) => {
    console.log("Awaiting host response from", sessionID);
  });

  socket.on("joinRequestDenied", (sessionID: string) => {
    console.log("Join request denied to", sessionID);
  });

  socket.on("connectedToSession", (sessionID: string) => {
    console.log("Connected to session", sessionID);
    inSession = true;
    sessionID = sessionID;
  });

  socket.on("sessionEnded", (sessionID: string) => {
    if (activeSessionID === sessionID) {
      console.log("Session ended");
      savePrompt('Save board before leaving?', () => {
        inSession = false;
        isHost = false;
        activeSessionID = "";
      })
    }
  });

  /* Emitters */

  function leaveSession(): void {
    socket.emit("endSession");
    console.log('Leaving session')
    if (!isHost) {
      savePrompt('Save board before leaving?', () => {
        inSession = false;
        isHost = false;
        activeSessionID = "";
      })
    }
  }

  function joinSession(sessionID): void {
    inSession = true
    isHost = false
    activeSessionID = sessionID
  }

  // Host-specific

  function startSession(): void {
    socket.emit("startSession");
    console.log("Requested to start a session");
  }

  // User-specific

  function sendUsername(username: string): void {
    displayName = username;
    socket.emit("username", username);
    console.log("Sent new username:", username);
  }

  function sendJoinRequest(sessionID: string): void {
    socket.emit("sendJoinRequest", sessionID);
    console.log("Sent a join request to", sessionID);
  }

  function acceptInvitation(sessionID: string): void {
    if (inSession) {
      leaveSession()
    }
    socket.emit("acceptInvitation", sessionID);
    console.log("Accepted invitation to", sessionID);
    forgetInvitation(sessionID);
    joinSession(sessionID)
  }

  //

  function forgetInvitation(sessionID: string): void {
    console.log("Forget invitation to", sessionID);
    invitations = invitations.filter((i) => i.sessionID !== sessionID);
  }
</script>

<main id="app">
  {#if !connectedToServer}
    <div class="annotation">Unable to connect to server</div>
  {/if}
  {#if inSession}
    <Session
      {socket}
      {isHost}
      sessionID={activeSessionID}
      {invitations}
      {acceptInvitation}
      {forgetInvitation}
      {leaveSession}
      username={displayName}
    />
  {:else}
    <Start
      {displayName}
      {invitations}
      {sendUsername}
      {startSession}
      {sendJoinRequest}
      {acceptInvitation}
      {forgetInvitation}
    />
  {/if}
</main>

<style>
  .annotation {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
  }
</style>
