<script lang="ts">
  export let socket: Socket<ServerToClientEvents, ClientToServerEvents>
  export let isHost: boolean
  export let sessionID: string
  export let invitations: Invitation[]
  export let acceptInvitation: (sessionID: string) => void
  export let forgetInvitation: (sessionID: string) => void
  export let leaveSession: () => void
  export let username: string

  import InviteUserListComponent from '../components/InviteUserList.svelte'
  import JoinRequestComponent from '../components/JoinRequest.svelte'
  import InvitationListComponent from '../components/InvitationList.svelte'
  import WhiteboardComponent from '../components/Whiteboard.svelte'
  import type ClientToServerEvents from '../events/ClientToServerEvents'
  import type ServerToClientEvents from '../events/ServerToClientEvents'
  import type { Socket } from 'socket.io-client'
  import type User from '../types/User'
  import type { Invitation, InvitableUser } from '../types/User'

  let joinRequests: User[] = []
  let availableUsers: InvitableUser[] = []
  const invitationStatus: Map<string, boolean> = new Map()

  /* Socket listeners */

  // Host-specific

  socket.on('availableUsers', (users: User[]) => {
    let newAvailableUsers: InvitableUser[] = []
    users.forEach(user => {
      if (!invitationStatus.has(user.id)) {
        invitationStatus.set(user.id, false)
        newAvailableUsers.push({ user, sent: false })
      } else {
        newAvailableUsers.push({ user, sent: invitationStatus.get(user.id) })
      }
    })
    availableUsers = newAvailableUsers // Encourage immutability
  })

  socket.on('invitationSent', (inviteeID: string) => {
    console.log('Invitation sent to', inviteeID)
    if (invitationStatus.has(inviteeID)) {
      invitationStatus.set(inviteeID, true)
      availableUsers[
        availableUsers.findIndex(i => i.user.id === inviteeID)
      ].sent = true
      console.log('Invitation status:', invitationStatus)
    }
  })

  socket.on('receiveJoinRequest', (requestor: User) => {
    const duplicateRequest: User | undefined = joinRequests.find(
      r => r.id === requestor.id
    )

    if (duplicateRequest === undefined) {
      joinRequests = joinRequests.concat(requestor)
      console.log('Received join request from', requestor)
    }
  })

  // User-specific

  socket.on('userJoinedSession', (user: User) => {
    console.log(user.username, 'joined session')
    if (invitationStatus.has(user.id)) {
      invitationStatus.delete(user.id)
      availableUsers = availableUsers.filter(i => i.user.id !== user.id)
    } else {
      joinRequests = joinRequests.filter(u => u.id !== user.id)
    }
  })

  /* Socket emitters */

  // Host-specific

  function getAvailableUsers(): void {
    socket.emit('getAvailableUsers')
  }

  function inviteUser(recipientID: string): void {
    socket.emit('inviteUser', recipientID)
  }

  function acceptJoinRequest(requestorID: string): void {
    socket.emit('acceptJoinRequest', requestorID)
    joinRequests = joinRequests.filter(r => r.id !== requestorID)
    console.log('Accepted join request from', requestorID)
  }

  function declineJoinRequest(requestorID: string): void {
    socket.emit('denyJoinRequest', requestorID)
    joinRequests = joinRequests.filter(r => r.id !== requestorID)
    console.log('Declined join request from', requestorID)
  }

  /* Control panel */

  enum Info {
    None = 1,
    Requests,
    Users,
    Invites,
    Participants
  }

  let info: Info = Info.None
  let showAdditionalInfo: boolean = false

  function copySessionIDToClipboard(e: MouseEvent): void {
    navigator.clipboard.writeText(sessionID)
    console.log('Copied Session ID to clipboard:', sessionID)
  }

  function toggleInfo(type: Info): void {
    if (info !== type) {
      showAdditionalInfo = true
      info = type
    } else {
      showAdditionalInfo = !showAdditionalInfo
    }
  }

  function toggleRequestList(e: MouseEvent): void {
    toggleInfo(Info.Requests)
  }

  function toggleAvailableUserList(e: MouseEvent): void {
    getAvailableUsers()
    toggleInfo(Info.Users)
  }

  function toggleInviteList(e: MouseEvent): void {
    toggleInfo(Info.Invites)
  }
</script>

<main>
  <WhiteboardComponent {socket} {username} />
  <div id="control-panel">
    <div class="controls">
      {#if isHost}
        <button on:click={copySessionIDToClipboard}>Copy Session ID</button>
        <button on:click={toggleAvailableUserList}>Invite users</button>
        {#if joinRequests.length > 0}
          <button on:click={toggleRequestList}
            >Join requests ({joinRequests.length})</button
          >
        {/if}
        <button on:click={leaveSession}>End session</button>
      {:else}
        <button on:click={leaveSession}>Leave session</button>
      {/if}
      {#if invitations.length > 0}
        <button on:click={toggleInviteList}
          >Invites ({invitations.length})</button
        >
      {/if}
    </div>
    {#if showAdditionalInfo}
      {#if info === Info.Users}
        <InviteUserListComponent {availableUsers} {inviteUser} />
      {:else if info === Info.Requests && joinRequests.length > 0}
        <ul>
          {#each joinRequests as request}
            <JoinRequestComponent
              {request}
              {acceptJoinRequest}
              {declineJoinRequest}
            />
          {/each}
        </ul>
      {:else if info === Info.Invites && invitations.length > 0}
        <InvitationListComponent
          {invitations}
          {acceptInvitation}
          {forgetInvitation}
        />
      {/if}
    {/if}
  </div>
</main>

<style>
  main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  #control-panel {
    position: fixed;
    bottom: 0;
    padding: 6px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
  }

  .controls {
    display: flex;
    flex-direction: row;
  }

  .controls > * {
    margin-right: 4px;
  }
</style>
