<script lang="ts">
  export let displayName: string
  export let invitations: Invitation[]
  export let sendUsername: (username: string) => void
  export let startSession: () => void
  export let sendJoinRequest: (sessionID: string) => void
  export let acceptInvitation: (sessionID: string) => void
  export let forgetInvitation: (sessionID: string) => void

  let sessionID: string = ''
  let displayNameIsValid: boolean = displayName.length > 0

  import InvitationListComponent from '../components/InvitationList.svelte'
  import type { Invitation } from '../types/User'

  function validateDisplayName(): void {
    displayNameIsValid = displayName.length > 0
  }

  function submitDisplayName(): void {
    validateDisplayName()
    if (displayNameIsValid) {
      sendUsername(displayName)
    }
  }

  function handleOnClick(e: MouseEvent): void {
    submitDisplayName()
  }

  function handleKeyPress(e: KeyboardEvent): void {
    if (e.key === 'Enter') {
      submitDisplayName()
    }
  }

  //

  function handleStartSession(e: MouseEvent): void {
    startSession()
  }

  function handleSendJoinRequest(e: MouseEvent): void {
    sendJoinRequest(sessionID)
  }
</script>

<div id="start">
  <h1>Whiteboard</h1>
  {#if !displayNameIsValid}
    <p>
      <input
        bind:value={displayName}
        placeholder="Your display name"
        autocomplete="off"
        on:keypress={handleKeyPress}
      />
      <button on:click={handleOnClick}>Continue</button>
    </p>
  {:else}
    <p>Logged in as {displayName}</p>
    <div>
      <button on:click={handleStartSession}>Start a whiteboard session</button>
    </div>
    <p>...or join an active session.</p>
    <div>
      <input bind:value={sessionID} placeholder="Enter a valid Session ID" />
      <button on:click={handleSendJoinRequest}>Join</button>
    </div>
    {#if invitations.length > 0}
      <p>You have invitations!</p>
      <InvitationListComponent
        {invitations}
        {acceptInvitation}
        {forgetInvitation}
      />
    {/if}
  {/if}
</div>

<style>
  #start {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }
</style>
