<script lang="ts">
  export let comment: Comment;
  export let user: User;

  import type { Comment } from '../types/Item';
  import type User from '../types/User';
  import { createEventDispatcher } from 'svelte';

  let editing = false;
  let pendingComment = comment.text;

  const dispatch = createEventDispatcher();

  function editComment(e: SubmitEvent) {
    dispatch("editComment", { id: comment.id, text: pendingComment });
    editing = false;
  }

  function cancel() {
    pendingComment = comment.text;
    editing = false;
  }
</script>

<div class="comment">
  {#if editing}
    <form class="hide" on:submit|preventDefault={editComment}>
      <textarea bind:value={pendingComment} />
      <button on:click={cancel}>
        Cancel
      </button>
      <input type="submit" value="Post" />
    </form>
  {:else}
    <span>{comment.author.username}: {comment.text}</span>
    {#if comment.author.id == user.id}
      <button class="hide" on:click={() => editing = true}>Edit</button>
    {/if}
  {/if}
</div>

<style>
  .comment {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-top: 4px;
  }

  span {
    padding: 2px 4px;
    vertical-align: middle;
  }

  button, input {
    float: right;
    padding: 2px;
  }
</style>