<script lang="ts">
  import { exportAs } from '../tools/Export'

  let showOptions: boolean = false

  function toggleExpand(e: MouseEvent): void {
    showOptions = !showOptions
  }
</script>

<div>
  <button on:click={toggleExpand}>Export</button>
  {#if showOptions}
    <div id="options">
      <button on:click={() => exportAs('png')}>Export as PNG</button>
      <button on:click={() => exportAs('jpeg')}>Export as JPEG</button>
    </div>
  {/if}
</div>

<style>
  #options {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  #options > button {
    margin-top: 4px;
  }
</style>
