<script lang="ts">
  export let image: Image;
  /**
   * The current user of the whiteboard (not necessarily the uploader of the image).
   * Used to check which comments are made by the current user.
   */
  export let user: User;

  import type { Image, ItemType } from '../types/Item';
  import type User from '../types/User';
  import { createEventDispatcher } from 'svelte';
  import Comment from './Comment.svelte';

  let pendingComment = "";

  const dispatch = createEventDispatcher();

  function addComment(e: SubmitEvent) {
    dispatch("addComment", pendingComment);
    pendingComment = "";
  }
</script>

<div
  class="image" 
  style="left: {image.pos.x}px; top: {image.pos.y}px;">
  <img
    id={image.id}
    src={image.data}
    alt={image.id}
  />
  <span class="comments">
    <form class="input hide" on:submit|preventDefault={addComment}>
      <textarea bind:value={pendingComment} />
      <input type="submit" value="Post" />
    </form>
    {#each image.comments as comment}
      <Comment {comment} {user} on:editComment={e => dispatch("editComment", e.detail)} />
    {/each}
  </span>
</div>

<style>
  .image {
    position: absolute;
  }

  img {
    position: relative;
    z-index: -1;
  }

  .comments {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
  }

  img::selection, img::-moz-selection {
      background-color:transparent;
  } 

  img {        
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      user-select: none;
  }
</style>