<script lang="ts">
  export let invitation: InvitableUser
  export let inviteUser: (recipientID: string) => void

  import type { InvitableUser } from '../types/User'

  function invite(e: MouseEvent): void {
    inviteUser(invitation.user.id)
  }
</script>

<li>
  <span>{invitation.user.username}</span>
  <button on:click={invite} disabled={invitation.sent}
    >{invitation.sent ? 'Invitation sent' : 'Invite'}</button
  >
</li>

<style>
  li {
    display: inline-block;
    margin-bottom: 6px;
  }

  li:before {
    content: '\ffed';
    margin-right: 0.5em;
  }
</style>
