<script lang="ts">
  export let invitation: Invitation
  export let acceptInvitation: (sessionID: string) => void
  export let forgetInvitation: (sessionID: string) => void

  import type { Invitation } from '../types/User'

  function handleJoin(e: MouseEvent): void {
    acceptInvitation(invitation.sessionID)
  }

  function handleIgnore(e: MouseEvent): void {
    forgetInvitation(invitation.sessionID)
  }
</script>

<li>
  <span>{invitation.host.username} (Session ID: {invitation.sessionID})</span>
  <button on:click={handleJoin}>Join</button>
  <button on:click={handleIgnore}>Ignore</button>
</li>

<style>
  li {
    display: inline-block;
    margin-bottom: 6px;
  }

  li:before {
    content: '\ffed';
    margin-right: 0.5em;
  }
</style>
