<script lang="ts">
  export let availableUsers: InvitableUser[]
  export let inviteUser: (recipientID: string) => void

  import InviteUserComponent from './InviteUser.svelte'
  import type { InvitableUser } from '../types/User'
</script>

{#if availableUsers.length > 0}
  <ul>
    {#each availableUsers as invitation}
      <InviteUserComponent {invitation} {inviteUser} />
    {/each}
  </ul>
{:else}
  <p>No available users</p>
{/if}

<style>
  ul {
    display: flex;
    flex-direction: column;
  }
</style>
