<script lang="ts">
  export let invitations: Invitation[]
  export let acceptInvitation: (sessionID: string) => void
  export let forgetInvitation: (sessionID: string) => void

  import type { Invitation } from '../types/User'
  import InvitationComponent from './Invitation.svelte'
</script>

<ul>
  {#each invitations as invitation}
    <InvitationComponent {invitation} {acceptInvitation} {forgetInvitation} />
  {/each}
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
  }
</style>
