<script lang="ts">
  export let request: User
  export let acceptJoinRequest: (requestorID: string) => void
  export let declineJoinRequest: (requestorID: string) => void

  import type User from '../types/User'

  function accept(e: MouseEvent): void {
    acceptJoinRequest(request.id)
  }

  function decline(e: MouseEvent): void {
    declineJoinRequest(request.id)
  }
</script>

<li>
  <span>{request.username}</span>
  <button on:click={accept}>Accept</button>
  <button on:click={decline}>Decline</button>
</li>

<style>
  li {
    display: inline-block;
    margin-bottom: 6px;
  }

  li:before {
    content: '\ffed';
    margin-right: 0.5em;
  }
</style>
