<script lang="ts">
  export let note: Note
  export let isSelectedNote: boolean
  export let requestSelectNote: (id: string) => void
  export let enableMoveNote: (enabled: boolean) => void
  export let editItem: (itemID: string, text: string) => void

  import type { Note } from '../types/Item'

  function onClick(e: MouseEvent): void {
    if (!isSelectedNote) {
      requestSelectNote(note.id)
    }
  }

  function onMouseDown(e: MouseEvent): void {
    if (isSelectedNote) {
      enableMoveNote(true)
    }
  }

  function onMouseUp(e: MouseEvent): void {
    if (isSelectedNote) {
      enableMoveNote(false)
    }
  }

  function onInput(e: Event): void {
    editItem(note.id, note.text)
  }
</script>

<div
  id={note.id}
  class={note.selected.length > 0 ? 'note selected' : 'note'}
  style="left: {note.pos.x}px; top: {note.pos.y}px"
  on:click={onClick}
  on:mousedown={onMouseDown}
  on:mouseup={onMouseUp}
>
  <textarea
    bind:value={note.text}
    on:input={onInput}
    readonly={!isSelectedNote}
  />
</div>

<style>
  .note {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #ffff89;
    border: 1px solid #caca6a;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .selected {
    border: 2px solid #ca6aca;
  }

  .note textarea {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    resize: none;
    font-size: 12px;
    background: #ffff89;
    cursor: inherit;
    border: none;
    outline: none;
  }
</style>
