<script lang="ts">
    import Connected from './pages/Connected.svelte';
  
    let connected = false;
    let endpoint = "127.0.0.1:3000";
  
    function connect() {
      connected = true;
    }
  </script>
  
  <main id="app">
    {#if !connected}
      <div class="connect">
        <h1>Whiteboard</h1>
        <form on:submit|preventDefault={connect}>
          <label for="address">Address:</label>
          <p />
          <input
            id="address"
            type="text"
            bind:value={endpoint}
            autocomplete="url"
          />
          <input type="submit" value="Connect" />
        </form>
      </div>
    {:else}
      <Connected {endpoint} />
    {/if}
  </main>
  
  <style>
    #app {
      width: 100vw;
      height: 100vh;
    }

    .connect {
      text-align: center;
      padding: 1em;
    }
  
    h1 {
      color: #ff3e00;
      text-transform: uppercase;
      font-size: 4em;
      font-weight: 100;
    }
  </style>
  